/* CSS Variables */
:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --gray: #ffffff25;
    --gray-text: #888888;
    --links-color: #1DA1F2;
    --font-family: Outfit, Helvetica, Arial, sans-serif;
}

/* Box sizing and base font size */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Global */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Images */
img {
    max-width: 100%;
}

/* Typography */
h1 {
    font-size: 7rem;
    margin: 0;
}

h2 {
    font-size: 3.5rem;
    margin: 0;
}

p {
    font-size: 1.8rem;
    margin: 0;
}

/* Body styles - Template 3 grid rows */
body {
    display: grid; /* Use grid layout */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    grid-template-columns: 1fr; /* Define grid columns */
    grid-template-rows: auto 1fr auto; /* Define grid rows */
    font-family: var(--font-family); /* Font family */
    color: var(--text-color); /* Text color */
    background-color: var(--background-color); /* Background color */
}

/* Container */
.container {
    width: 95%;
    max-width: 140rem;
    margin: 0 auto;
}

/* Two columns layout */
.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5rem, 10vw, 20rem);
    height: 95vh;
}

.x-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-logo img {
    height: 50rem;
    max-width: 80rem;
}

.welcome-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.logs {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.logs p {
    font-size: 1.1rem;
    width: 50%;
    color: var(--gray-text);
}

.link {
    text-decoration: none;
    color: var(--links-color);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 32rem;
    width: 100%;
    height: 4rem;
    background-color: var(--text-color);
    border-radius: 5rem;
    font-size: 1.5rem;
    color: #000;
}

.button img {
    height: 2.2rem;
}

.button--opacity {
    color: #ffffff;
    background-color: black;
    border: 0.1rem solid #ffffff3b;
}

.spacer {
    display: flex;
    flex-direction: row;
    max-width: 32rem;
    width: 100%;
    gap: .6rem;
    align-items: center;
    justify-content: center;
    
}

.spacer span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.line-spacer {
    height: 0.1rem;
    width: 50%;
    background-color: var(--gray);
}

.logs-existing {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
}

.footer-link {
    text-decoration: none;
    color: var(--gray-text);
    font-size: 1.1rem;
}